// Primary Colors
$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);

// Font Family
$font-head: 'Fraunces', serif;
$font-p: 'Montserrat', sans-serif;

// Font Size
$font-sm: 0.625rem; // 10px
$font-md: 0.875rem; // 14px
$font-lg: 2rem; // 32px
